/*general rules reset content*/
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

/*all styles rules*/
:root{
    --ff: 'Outfit', sans-serif;

    --fs-default-desk: 1.125rem;
    --fs-default: 1rem;
    --fs-small: 0.875rem;
    --fs-title: 1.375rem;

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;

    --main-txt-color: hsl(215, 51%, 70%);
    --accent: hsl(178, 100%, 50%);

    --bg-vport: hsl(216, 54%, 11%);
    --bg-card: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

span{
    display: inline-block;
    position: relative;
}

body{
    height: 100vh;
    font-family: var(--ff);
    overflow: hidden;
    display: grid;
    place-content: center;
    background-color: var(--bg-vport);
}

.card{
    max-width: 22rem;
    background-color: var(--bg-card);
    padding: 1.5rem;
    padding-block-end: 2rem;
    border-radius: 1.2rem;
    color: var(--main-txt-color);
    line-height: 1.5;
    font-size: var(--fs-default);
    box-shadow: 1rem 2rem 1rem hsla(217, 51%, 8%, 0.5),
                -1rem 2rem 1rem hsla(217, 51%, 8%, 0.5);
}

.nft-image{
    position: relative;
}

.nft-image::after{
    content: url("images/icon-view.svg");
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color:hsla(178, 100%, 50%, 0.0);
    cursor: pointer;
    opacity: 0;
    border-radius: 0.5rem;
}

.nft-image:hover::after{
    background-color:hsla(178, 100%, 50%, 0.5);
    opacity: 1;
}

.nft-image img{
    border-radius: 0.5rem;
}

.text-content{
    margin-block-start: 1.5rem;
}

.title{
    font-size: var(--fs-title);
    color: var(--white);
    transition: all 0.5s;
    cursor: pointer;
    width: max-content;
    font-weight: var(--fw-600);
}

.title:hover{
    color: var(--accent);
}

.caption{
    margin-block: 1rem;
    font-weight: var(--fw-300);
    font-size: var(--fs-default-desk);
}

.info-nft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-small);
}

.cost-nft{
    color: var(--accent);
    font-weight: var(--fw-400);
}

.cost-nft,
.time{
    position: relative;
    align-self:center;
    font-size: var(--fs-default);
}

.time span{
    width: 0.9rem;
    margin-right: 0.5rem;
    vertical-align: sub;
}

.cost-nft span{
    vertical-align: sub;
    margin-right: 0.5rem;
    width: 0.6rem;
}


.line{
    height: 1px;
    background-color: var(--line-color);
    width: 100%;
}


.info-creator{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block-start: 0.5rem;
    font-size: var(--fs-small);
}

.creator-pic{
    width: 2rem;
}

.creator-pic img{
    border: 1px solid white;
    border-radius: 1rem;
}

.creator-text span{
    transition: all 0.5s;
    cursor: pointer;
}

.creator-text span:hover{
    color: var(--accent);
}

@media screen and (max-width: 24em ) {
    .card{
        margin-inline: 1.5rem;
    }

    .caption{
        font-size: var(--fs-default);
    }
}
